.main-desktop-body{
    display: grid;
    height: 85dvh;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.contact-area{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-area p{
    padding: 2rem;
    text-align: justify;
    /* text-align: center; */
}

.img-area img{
    height: 65dvh;
    width: 56dvw;
}

.mobile-contant-area{
    display: none;
}

@media screen and (max-width: 768px) {
    .main-desktop-body{
        display: none;
    }
    .contact-area{
        display: block;
    }

    .mobile-contant-area{
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile-contant-area p{
        padding: 1.5rem;
        text-align: justify;
        /* text-align: center; */
    }
}
