.Lform{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3dvh;
    padding: 5dvh 0dvh 5dvh 0dvh;
}

.Lright{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rMain img{
    height: 15dvw;
    margin-left: none;
}

@media screen and (max-width: 768px) {
    .rMain{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rMain{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rMain img{
        display: none;
    }

    .Lform{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3dvh;
    }

    .formContainer{
        padding: 1dvw;
    }
    
}