.search {
    width: 45%;
    background: rgba(155, 153, 153, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(155, 153, 153, 0.28);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3dvh;
}

.search>form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 20dvw;
    padding: 1dvw;
    font-size: 16px;
    margin: 0.5dvw;
}

.search>form select {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 20dvw;
    height: 7.4dvh;
    padding: 1dvw;
    font-size: 16px;
}

.rides {
    margin-top: 1dvh;
    height: 70dvh;
    overflow-y: scroll;
}

.rides::-webkit-scrollbar {
    display: none;
}

.ride_card {
    background: rgba(155, 153, 153, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(155, 153, 153, 0.28);
    margin-top: 2dvh;
    height: 25dvh;
    width: 40dvw;
    padding: 3dvh;
    padding-top: 5dvh;
    color: white;
}

.ride_details {
    display: flex;
}

.card_left {
    margin-right: 10dvw;
}

.user_details{
    display: flex;
    margin-top: 2dvh;
}

.user_details h5{
    margin-right: 5dvw;
}