.sMain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sMain h1{
    margin-top: 3dvh;
    margin-left: 3dvw;
    font-size: 50px;
}

.sMain p{
    margin-top: 2dvh;
    margin-left: 3dvw;
}

.sdown{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sLeft{
    padding: 3dvw;
}

.sRight{
    margin-left: 3dvw;
}

.Lform{
    padding: 5dvh;
    margin-left: 3dvw;
}

.Lform input, select{
    border-radius: 5dvw;
    padding-left: 1dvw;
    width: 30dvw;
    height: 5dvh;
}

.Lform button{
    width: 30dvw;
}

@media screen and (max-width: 768px) {
    .sMain h1{
        margin-top: 2dvh;
        margin-left: 5dvw;
        font-size: 27px;
    }

    .Lform input, select{
        border-radius: 5dvw;
        padding-left: 5dvw;
        width: 60dvw;
        height: 5dvh;
    }

    .Lform button{
        width: 60dvw;
    }

    .sdown{
        display: grid;
        grid-template-columns: 1fr;
    }

    .Lform{
        padding: none;
        margin-left: 3dvw;
    }

    .sRight img{
        margin-left: 0;
        height: 50dvh;
        width: 100dvw;
    }
}